/* 
    Created on : 18/09/2014, 08:31:30 AM
    Author     : Jonathan Jara Morales <jonathan.jara.morales@gmail.com>
*/

.skillbar-bar {
    height: 22px;
    width: 0;
}
.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #484848;
    height: 22px;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    -o-transition: .4s linear;
    transition: .4s linear;
    -webkit-transition-property: width,background-color;
    -moz-transition-property: width,background-color;
    -ms-transition-property: width,background-color;
    -o-transition-property: width,background-color;
    transition-property: width,background-color;
}
/*
.skillbar-bar, .skillbar-title {
    background: rgba(59,89,152,.8);
}*/

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 10px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.skillbar-bar.skillbar-bar-red{
    background: #f35353;
}
.skillbar-bar.skillbar-bar-blue{
    background: #5EBCF2;
}
.skillbar-bar.skillbar-bar-aquamarine{
    background: #348781;
}
.skillbar-bar.skillbar-bar-plumpie{
    background: #7D0541;
}