/* 
    Created on : 18/09/2014, 08:31:30 AM
    Author     : Jonathan Jara Morales <jonathan.jara.morales@gmail.com>
*/

body{
    background: url(img/background3.jpg)  no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/

    /*background: url(img/img02.png)  no-repeat center center fixed;
    background-repeat: repeat;
    font-family: "Roboto Slab",Helvetica,sans-serif;
    font-weight: 300;*/
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1135px;
    margin-top:-8px;
}

header{
    background: #FFFFFF;
    top: -8px;
}

media="all"
@media (min-width: 768px)
.navbar-header {
    float: left;
}

media="all"
.navbar-header:after {
    clear: both;
}

media="all"
.navbar-header:before, .navbar-header:after {
    display: table;
    content: " ";
}

.content-left{
    float: left;    
    width: 750px;
}

.content-right{
    float: right;  
    width: 360px;
}
.background-author-box img{
    width: 360px;
    margin-top: -5px;
    margin-left: -5px;

}
.author-box{
    position: relative;
}
.biography{
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    color: #333;
    text-align: center;
}

.cv a{
    text-decoration: none;
}

.cv img{
    width: 60px;
    height: 60px;
    float: none;
}

.author-img{
    left: 50%;
    margin: 0 -50px;
    position: absolute;
    top: 150px;
    overflow: hidden;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    height: 90px;
    background: #fff;
    padding: 5px;
}

.header-box{
    font-size: 15px;
    font-weight: bold;
    line-height: 50px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 1px 0px 0px rgba(0,0,0,0.10);
}

.author-img img{
    -webkit-border-radius: 500px;
    border-radius: 500px;
    height: 90px;
    max-width: none;
    width: 90px;
}

.cv{
    padding-top: 5px;
    overflow: auto;
}


.content{
    padding-top: 25px;
}

.box{
    background-color: #FFFFFF;
    -moz-border-radius: 1px 1px 1px 1px;
    -webkit-border-radius: 1px 1px 1px 1px;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    margin-bottom: 30px;
    padding: 5px;
}

.post-box{
    //padding: 35px;
}

.search-box{
    padding: 5px;
}

.input-search{
    background: none repeat scroll 0 0 #EFEFEF;
    border-radius: 1px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 34px;
    width: 330px;
    outline: 0; 
    font-family: "Roboto Slab",Helvetica,sans-serif;
    color: #5E5E5E;
    text-indent: 10px;
}

//ICONS
.masthead-background {
    width: 100%;
    left: 0;
    right: 0;  
    height: 100%;
}

.menu{
    float: right;

}

.post-box .media-box{
    max-height: 396px;
    //height: 396px;
    //width: 750px;
    margin-top: -5px;
    margin-left: -5px;
}

.post-box .media-box img{
    max-height: 396px;
    max-width: 750px;
    //height: 396px;
    //width: 750px;

}

.post-box .content {
    padding-left: 40px; 
    padding-right: 40px;
}
.post-box .content .title h1{
    margin: 0;
    text-align: center;
    line-height: 120%;
    width: 100%;  
    display: block;
    text-align: left;
    font-size: 35px;
    font-weight: bold;
}

.post-box .content .title .post-meta{

}

.post-meta ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    z-index: 10;
}
.post-meta ul li {
    float: left;
    margin-right: 15px;
    color: #9a9a9a;
}
.post-meta ul li span{
    float: left;
    margin-right: 15px;
    color: #9a9a9a;
    font-weight: bold;
}

.description{
    padding: 10px;
}

.description p{
    font-size: 16px;
    margin: 0 0 10px;
    line-height: 2;
    color: #525252;
}

.reading .green-reading-btn{
    display: block;
    background: transparent;
    border-color: #4ECDC4;
    text-align: center;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    bottom: 0;
    margin: 10px 0;
    padding: 10px 0;
    position: relative;
    text-align: center;
    color: #4ECDC4;
    font-weight: bold;
    font-family: "Roboto Slab",Helvetica,sans-serif;
    font-size: 16px;
}

.reading .green-reading-btn:hover{
    background: #4ECDC4;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
}
