<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <link rel='stylesheet' id='bluth-googlefonts-css'  href='http://fonts.googleapis.com/css?family=Droid+Sans%3A400%2C700%7CRoboto+Slab%3A300%2C400%2C700%7CLato%3A300%2C400%2C400italic%2C700%2C900&#038;subset=latin&#038;ver=4.0' type='text/css' media='all' />
        <meta charset="utf-8"/>
        <title>Jonathan Jara Morales|Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="We build beautiful premium WordPress blog themes. Check out our portfolio right here."/>
        <meta property="og:title" content="BlutThemes.com - Premium Wordpress Themes"/>
        <meta property="og:image" content="http://www.bluthemes.com/assets/img/logo_500.png"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="We build beautiful premium WordPress themes. Check out our portfolio right here."/>
        <meta property="og:url" content="http://www.bluthemes.com//item/breeze/preview"/>
        <meta property="og:site_name" content="Bluthemes"/>
        <meta property="fb:app_id" content="1377189725849154"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>        
        <h:outputStylesheet library="css" name="style.css"  />
        <h:outputStylesheet library="css" name="skills.css"  />
        <link rel="shortcut icon" href="http://i1376.photobucket.com/albums/ah29/JonathanJaraM/logo_zps63afee44.png"/>
    </h:head>
    <h:body>
        <div class="container">
            <header >
                <div class="masthead-background" >                       

                    <a class="navbar-brand brand-image" href="http://www.bluthemes.com/themes/breeze" title="Breeze" rel="home">
                        <img src="http://i1376.photobucket.com/albums/ah29/JonathanJaraM/logo_zps63afee44.png" alt="Breeze"/>
                    </a> 

                    <div class="menu">
                        MENU
                    </div>

                </div>



            </header>
            <div class="content">
                <div class="content-left">
                    <div class="box post-box">
                        <div class="media-box">
                            <img src="http://www.codejobs.biz/www/lib/files/images/8cf70a6643875e7.png"/>
                        </div>                      
                        <div class="content">
                            <div class="title">
                                <h1>
                                    What's Hibernate?
                                </h1>
                            </div>
                            <div class="post-meta">
                                <ul>
                                    <li >
                                        September 19,2014 /
                                    </li>
                                    <li>
                                        <span> Hibernate /</span>
                                    </li>
                                    <li>
                                        <span>10 Comments</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="description">
                                <p>
                                    If you something ask yourself, what is hibernate?, in this post i will 
                                    explain you everithing about this powerful framework...
                                </p>
                            </div>
                            
                            <div class="reading">
                                <h:commandButton class="green-reading-btn" value="Continue reading..."/>
                            </div>
                        </div>
                    </div>


                    <div class="box post-box">
                        aasd
                    </div>
                </div>  

                <div class="content-right">
                    <div class="box  search-box">
                        <h:inputText styleClass="input-search" value="Search..."/>                       
                    </div>

                    <div class="box author-box">
                        <div class="background-author-box">
                            <img src="http://www.zastavki.com/pictures/originals/2013/Nature___Other__039061_.png" />
                        </div>
                        <div class="author-img">
                            <img src="http://i1376.photobucket.com/albums/ah29/JonathanJaraM/IMG-20140817-WA0013_zpsb1cff25c.jpg"/>
                        </div>
                        <div class="biography">                           
                            <h3>Jonathan Jara Morales</h3>
                            I ́m a hard-working and reliable person, who enjoys working in teams and also works well 
                            under pressure. I have a good sense of time and thus am able to fulfill my tasks in the 
                            estimated time. Besides, I seek perfection in every work I do and have the ability to learn 
                            by myself.                           
                        </div>

                    </div>

                    <div class="box"> 
                        <div class="header-box">
                            <h3>Resume</h3>
                        </div>
                        <div class="cv">

                            <div style="float: left; margin-left: 60px">
                                <a href="https://docs.google.com/a/ucenfotec.ac.cr/file/d/0B7oiN06GRiDYYnZDcXp1ZW5VdFE/edit" target="new">                              
                                    <img  src="http://www.check4jobs.com/_resx/images/cv_icon.gif"/>
                                </a> 
                                <div>
                                    English 
                                </div> 

                            </div>
                            <div style="float: right; margin-right: 60px;">

                                <a href="https://docs.google.com/a/ucenfotec.ac.cr/file/d/0B7oiN06GRiDYZG5XSDlHNGJpQ0E/edit?usp=drive_web" target="new">                              
                                    <img  src="http://www.check4jobs.com/_resx/images/cv_icon.gif"/>
                                </a> 
                                <div>
                                    Spanish  
                                </div> 
                            </div>
                        </div>

                    </div>


                    <div class="box">
                        <div class="header-box">
                            <h3>Skills</h3>
                        </div>

                        <div class="skillbar">
                            <div class="skillbar-title"><span>Java</span></div>
                            <div class="skillbar-bar skillbar-bar-red" style="width: 90%;"></div>
                            <div class="skill-bar-percent">90%</div>
                        </div>

                        <div class="skillbar">
                            <div class="skillbar-title"><span>CSS</span></div>
                            <div class="skillbar-bar skillbar-bar-blue" style="width: 70%;"></div>
                            <div class="skill-bar-percent">70%</div>
                        </div>

                        <div class="skillbar">
                            <div class="skillbar-title"><span>Html</span></div>
                            <div class="skillbar-bar skillbar-bar-aquamarine" style="width: 70%;"></div>
                            <div class="skill-bar-percent">70%</div>
                        </div>

                        <div class="skillbar">
                            <div class="skillbar-title"><span>Sql</span></div>
                            <div class="skillbar-bar skillbar-bar-plumpie" style="width: 85%;"></div>
                            <div class="skill-bar-percent">85%</div>
                        </div>
                    </div>


                </div>

            </div>


        </div>
    </h:body>
</html>
